<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <link rel="stylesheet" href="./style.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
</head>
<body>
    <section>
        <ul class="comment">
            <li class="comment-form">
                <form id="commentFrm">
                    <h4>댓글쓰기<span></span></h4>
                    <span class="ps_box">
                        <input type="text" placeholder="댓글 내용을 입력해주세요." class="int" name="content" autocomplete="off">
                    </span>
                    <input type="submit" class="btn" value="등록"/>
                </form>
            </li>
            <li id="comment-list"></li>
            
        </ul>
    </section>
    <script src="./index.js"></script>
</body>
</html>